<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DPTContext" connectionString="Data Source= LAPTOP-E66NVDLG\SQLEXPRESS; Integrated Security=true;Initial Catalog= DptStoreDB;    
			 MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> 
	<!--<add name="Model2" connectionString="data source=LAPTOP-E66NVDLG\SQLEXPRESS;initial catalog=DptStoreDB;integrated security=True;
		 MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>
</configuration>