

@using (Html.BeginForm("SavePassword", "User", FormMethod.Post))
{

    <div class="form-horizontal">
        <h4>Reset Password</h4>
        <hr />

        <input type="hidden" value=@ViewBag.EmailId id="email" name="email" />

        <div class="form-group">
            <label class="control-label col-md-2">New Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="Password" id="password" pattern="(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="confirm_password" name="password1" pattern="(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>

    $(document).ready(function () {

        $("#password").change(validatePassword);
        $("#confirm_password").keyup(validatePassword);

    })
    function validatePassword() {
        var password = $("#password")
            , confirm_password = $("#confirm_password")
        if (password.val() != confirm_password.val()) {
            confirm_password[0].setCustomValidity("Passwords do not match!!")
           
        } else {
            confirm_password[0].setCustomValidity("")
        }
    }
</script>
